/* header */

.about_header_background_img {
  width: 100%;
  height: 560px;
  background-color: lightblue;
}

.about_header_background_img_text {
  width: 345px;
  height: auto;
  margin: 155px 210px;
}

.about_header_background_img_text > span {
  line-height: 200%;
  font-style: italic;
  font-size: var(--font-h1);
  font-weight: var(--weight-extrabold);
  color: var(--color-white);
}

/* nav */

#about_nav_box {
  width: 100%;
  height: 110px;
  padding: 40px 210px;
  box-sizing: border-box;
  background-color: white;
}

.about_nav_box_menu_wrap {
  width: 780px;
  height: 30px;
}

.about_nav_box_menu_wrap ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.about_nav_box_menu_wrap li {
  display: block;
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  /* margin-right: 40px; */
}
/* section */

.about_section_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
  box-sizing: border-box;
  background-color: white;
}

.section_about_column {
  width: 1232px;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_about_column:first-child {
  margin-bottom: 170px;
}

.section_about_column:nth-child(2) {
  flex-direction: row-reverse;
}

.section_about_intro_img {
  width: 560px;
  height: 370px;
  background-color: lightblue;
}

.section_about_intro_text {
  width: 490px;
  height: 210px;
}

.section_about_intro_text > span {
  display: block;
  margin-bottom: 50px;
  color: var(--color-black);
  font-size: var(--font-h2);
  font-weight: var(--weight-extrabold);
}

.section_about_column > i {
  font-size: 48px;
  color: var(--color-yellow);
}

/* news */
.section_news_box_wrap {
  width: 100%;
  height: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 330px;
}

.section_news_box {
  width: 1160px;
  height: 840px;
  box-sizing: border-box;
}

.section_news_box_top {
  width: 100%;
  height: 420px;
  display: flex;
}

.section_news_text {
  width: 440px;
  height: 420px;
  position: relative;
  text-align: right;
}

.section_news_text > h3 {
  font-size: var(--font-h2);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
  margin-bottom: 40px;
}

.section_news_text_bottom {
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.section_news_text_bottom > span {
  font-size: var(--font-large);
  color: var(--color-black);
  font-weight: var(--weight-regular);
}

.section_news_text_bottom > i {
  font-size: 42px;
  color: var(--color-yellow);
  margin-left: 20px;
}

.section_news_img_cycle {
  width: 590px;
  height: 420px;
  background-color: lightblue;
  margin-right: 130px;
  position: relative;
  box-shadow: var(--basic-shadow);
}

.section_news_box_bottom {
  width: 1160px;
  height: 360px;
  display: flex;
  margin-top: 60px;
}

.section_news_img_volunteer {
  width: 450px;
  height: 360px;
  background-color: lightblue;
  margin-right: 65px;
  margin-left: 75px;
  position: relative;
  box-shadow: var(--basic-shadow);
}

.section_news_img_olympic {
  width: 570px;
  height: 360px;
  background-color: lightblue;
  position: relative;
  box-shadow: var(--basic-shadow);
}

.section_news_img_text {
  font-size: var(--font-h3);
  font-weight: var(--weight-extrabold);
  color: var(--color-white);
  font-style: italic;
  display: block;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.section_join {
  width: 100%;
  height: 900px;
  margin-top: 150px;
  padding-top: 110px;
  padding-left: 210px;
  box-sizing: border-box;
  position: relative;
}

.join_title_wrap {
  width: 114px;
  height: 30px;
  display: flex;
  align-items: center;
}

.join_btn_wrap {
  width: 930px;
  height: 320px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 340px;
}

.join_btn_ambassador {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: lightblue;
  box-shadow: var(--basic-shadow);
}

.join_btn_ef {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: lightblue;
  box-shadow: var(--basic-shadow);
}

.section_news_img_cycle:hover,
.section_news_img_volunteer:hover,
.section_news_img_olympic:hover,
.join_btn_ambassador:hover,
.join_btn_ef:hover {
  transform: scale(1.03);
  transition: all 600mm ease-out;
}
