.aboutEF {
  width: 1600px;
  height: auto;
}

/* header */

.about_header_background_img {
  width: 100%;
  height: 560px;
  background-color: lightblue;
}

.about_header_background_img_text {
  width: 345px;
  height: 230px;
  background-color: var(--color-white);
  margin: 155px 210px;
}

.about_header_background_img_text > span {
  display: block;
  margin-bottom: 25px;
}

/* nav */

#about_nav_box {
  width: 100%;
  height: 110px;
  padding: 40px 210px;
  box-sizing: border-box;
  background-color: lightgray;
}

.about_nav_box_menu_wrap {
  width: 770px;
  height: 30px;
}

.about_nav_box_menu_wrap ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.about_nav_box_menu_wrap li {
  display: block;
  width: 130px;
  height: 100%;
  background-color: lightskyblue;
  text-align: center;
  /* margin-right: 40px; */
}
/* section */

.about_section_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
  box-sizing: border-box;
  background-color: lightgrey;
}

.section_about_column {
  width: 1232px;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_about_column:first-child {
  margin-bottom: 170px;
}

.section_about_intro_img {
  width: 560px;
  height: 370px;
  background-color: white;
}

.section_about_intro_text {
  width: 490px;
  height: 210px;
  background-color: lightblue;
}

.section_about_intro_text span {
  display: block;
  margin-bottom: 50px;
}

.icon_chevron_right {
  width: 52px;
  height: 100px;
  background-color: lightskyblue;
}

.icon_chevron_left {
  width: 52px;
  height: 100px;
  background-color: lightskyblue;
}

.section_news_box_wrap {
  width: 100%;
  height: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 330px;
}

.section_news_box {
  width: 1160px;
  height: 840px;
  box-sizing: border-box;
}

.section_news_box_top {
  width: 100%;
  height: 420px;
  display: flex;
}

.section_news_img_cycle {
  width: 590px;
  height: 420px;
  background-color: lightblue;
  margin-right: 130px;
  position: relative;
}

.section_news_text {
  width: 440px;
  height: 420px;
  background-color: lightblue;
  position: relative;
  text-align: right;
}

.section_news_text > span {
  margin-bottom: 50px;
}

.section_news_text > .icon_chevron_right {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: grey;
}

.section_news_box_bottom {
  width: 1160px;
  height: 360px;
  display: flex;
  margin-top: 60px;
}

.section_news_img_volunteer {
  width: 450px;
  height: 360px;
  background-color: lightblue;
  margin-right: 65px;
  margin-left: 75px;
  position: relative;
}

.section_news_img_olympic {
  width: 570px;
  height: 360px;
  background-color: lightblue;
  position: relative;
}

.section_news_img_text {
  display: block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: var(--color-white);
}

.section_join {
  width: 100%;
  height: 1000px;
  background-color: lightgrey;
  margin-top: 150px;
  padding-top: 110px;
  padding-left: 210px;
  box-sizing: border-box;
  position: relative;
}

.join_title_wrap {
  width: 114px;
  height: 30px;
  display: flex;
  align-items: center;
}

.join_btn_wrap {
  width: 930px;
  height: 320px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 340px;
}

.join_btn_ambassador {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: lightblue;
}

.join_btn_ef {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: lightblue;
}
