@import "../src/reset.css";
@import "../style/header.css";
@import "../style/footer.css";
@import "../style/main.css";
@import "../style/aboutEF.css";
@import "../style/program.css";
@import "../style/review.css";
@import "../style/office.css";

body {
  width: 1600px;
}

li {
  list-style: none;
}

button {
  border: none;
}

.hidden {
  display: block;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

:root {
}
