/* footer */

#footbox {
  max-width: 1600px;
  height: 470px;
  background-color: var(--color-black);
  padding: 40px 210px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: var(--font-micro);
  color: var(--color-white);
}

.footbox_wrap {
  width: 1180px;
  height: 315px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.footbox_wrap_left {
  width: 440px;
  height: 315px;
}

.footbox_logo {
  width: 70px;
  height: 54px;
  background-color: lightskyblue;
  margin-bottom: 30px;
}

.footbox_info_box {
  width: 100%;
<<<<<<< Updated upstream
  height: auto;
=======
  height: 56px;
>>>>>>> Stashed changes
  margin-bottom: 28px;
}

.footbox_info_box address {
  line-height: 160%;
}

.footbox_wrap_right {
  width: 420px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.footbox_menu_about {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
<<<<<<< Updated upstream
  margin-top: 70px;
=======
>>>>>>> Stashed changes
}

.footbox_menu_about li {
  display: block;
  width: 100%;
  height: 12px;
  margin-bottom: 16px;
}

.footbox_menu_about li:first-child {
  margin-bottom: 20px;
}

.footbox_menu_discover {
  width: 200px;
  height: 186px;
  display: flex;
  flex-direction: column;
<<<<<<< Updated upstream
  margin-top: 70px;
=======
>>>>>>> Stashed changes
}

.footbox_menu_discover li {
  display: block;
  width: 100%;
  height: 12px;
  margin-bottom: 16px;
}

.footbox_menu_discover li:first-child {
  margin-bottom: 20px;
}

.footbox_wrap_bottom {
  width: 1340px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.footbox_country {
  width: 125px;
  height: 30px;
  display: flex;
}

.footbox_country_icon {
  width: 80px;
  height: 100%;
  margin-right: 15px;
  background-color: lightskyblue;
}

.footbox_country_name {
<<<<<<< Updated upstream
  width: 180px;
=======
  width: 100px;
>>>>>>> Stashed changes
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: var(--weight-bold);
}

.footbox_usage {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footbox_usage_privacy {
  width: auto;
  height: 100%;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.footbox_usage_cookies {
  width: auto;
  height: 100%;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.footbox_usage_copyrights {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
