/* head box */

#headbox {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

.headbox_box {
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0 30px;
  box-sizing: border-box;
}

.headbox_box_review {
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: white;
}

.headbox_home {
  width: 24px;
  height: 40px;
}

.headbox_home > img {
  width: 100%;
  height: auto;
}

.headbox_logo {
  width: 70px;
  height: 50px;
}

.headbox_logo > img {
  width: 100%;
  height: auto;
}

.headbox_menu-btn {
  width: 32px;
  height: 42px;
  cursor: pointer;
  position: relative;
}

.headbox_menu-btn > img {
  width: 100%;
  height: auto;
}

.headbox_menu {
  width: 1600px;
  height: 0;
  background-color: white;
  font-size: 20px;
  font-weight: var(--weight-bold);
  position: absolute;
  top: 70px;
  right: 0;
  padding-top: 50px;
  box-sizing: border-box;
  display: none;
  z-index: 1;

  overflow-y: hidden;
  transition: all 600ms ease-in-out;
}

.header_menu__item:hover {
  text-decoration: underline;
}

.headbox_menu.open {
  height: 150px;
  /* display: flex; */
  justify-content: space-around;
  opacity: 1;
}

.headbox_underline_b {
  border: none;
  width: 1540px;
  height: 1px;
  background-color: var(--color-dark-blue);
  position: absolute;
  bottom: 0;
}
.headbox_underline_w {
  border: none;
  width: 1540px;
  height: 1px;
  background-color: var(--color-white);
  position: absolute;
  bottom: 0;
}
