/* head box */

#headbox {
  width: 100%;
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.headbox_box {
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0 30px;
  box-sizing: border-box;
}

.headbox_home {
  width: 24px;
  height: 40px;
}

.headbox_home > img {
  width: 100%;
  height: auto;
}

.headbox_logo {
  width: 70px;
  height: 50px;
}

.headbox_logo > img {
  width: 100%;
  height: auto;
}

.headbox_menu-btn {
  width: 32px;
  height: 42px;
  cursor: pointer;
  position: relative;
}

.headbox_menu-btn > img {
  width: 100%;
  height: auto;
}

.headbox_menu {
  width: 1600px;
  height: 150px;
  /* overflow: hidden; */
  /* opacity: 0; */
  background-color: aliceblue;
  position: absolute;
  top: 70px;
  right: 0;
  padding-top: 50px;
  box-sizing: border-box;
  display: none;
  transition: all 300mm ease-in-out;
  z-index: 1;
}

.header_menu__item {
  font-size: (--font-h2);
  font-weight: (--weight-extrabold);
  color: var(--color-black);
}

.headbox_menu.open {
  display: flex;
  justify-content: space-around;
  /* height: 150px; */
  opacity: 1;
}

.headbox_underline {
  width: 1540px;
  height: 1px;
  background-color: var(--color-black);
  position: absolute;
  bottom: 0;
}
