.office {
  width: 1600px;
  height: auto;
}

#office_navbox {
  width: 100%;
  height: 235px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

.office_navbox_wrap {
  width: 1170px;
  height: 30px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.office_navbox_wrap > ul {
  font-size: var(--font-h3);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.office_nav_left {
  width: 166px;
  height: 100%;
  display: flex;
}

.office_nav_left > i {
  font-size: 28px;
  color: var(--color-lightblue);
  margin-right: 16px;
}

.office_nav_offices {
  width: 129px;
  height: 30px;
}

.office_nav_left > span {
  font-size: var(--font-h2);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
}

.office_navbox_wrap ul {
  display: flex;
  align-items: center;
}

.office_navbox_wrap li {
  display: block;
}

.office_navbox_wrap li:first-child {
  width: 67px;
  margin-right: 70px;
}

.office_navbox_wrap li:last-child {
  width: 124px;
}

/* section */

.office_section_wrap {
  width: 100%;
  height: 1530px;
  padding-top: 170px;
  box-sizing: border-box;
}

.office_section_title_wrap {
  width: 160px;
  height: 30px;
  margin-left: 210px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

.office_box_menu_wrap {
  width: 1478px;
  height: 60px;
  display: flex;
  margin-left: 61px;
}

.office_box_menu {
  width: 180px;
  height: 60px;
  background-color: var(--color-lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.office_box_menu:first-child {
  margin-left: 938px;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.section_office_box {
  width: 1478px;
  height: 1080px;
  background-color: lightgray;
  margin-left: 61px;
  position: relative;
  display: flex;
}

.office_box {
  width: 591px;
  height: 850px;
  margin: 160px 158px 0 81px;
}

.office_box_city {
  width: 192px;
  height: 32px;
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-large);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
}

.office_box_map {
  margin: 40px 0 46px 0;
}

.office_box_btn_wrap {
  width: 542px;
  height: 61px;
  display: flex;
}

.office_box_btn {
  width: 218px;
  height: 61px;
  display: flex;
  padding: 21px 42px;
  box-sizing: border-box;
  background-color: white;
  background-image: linear-gradient(45deg, #17b2e2 30%, #005874 20%);
  border-radius: 26px;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.office_box_btn:first-child {
  margin-left: 25px;
  margin-right: 100px;
}

.office_box_btn > i {
  margin-right: 20px;
  color: var(--color-white);
}

.office_box_btn > span {
  width: 80px;
  height: 20px;
  color: var(--color-white);
}

.office_box_info {
  width: 567px;
  height: 818px;
  background-color: var(--color-white);
  border: 5px solid var(--color-blue);
  margin-top: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.office_info_address {
  width: 358px;
  height: 136px;
  margin-top: 68px;
  text-align: center;
}

.office_info_address > address {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  line-height: 180%;
}

.office_info_address > span {
  display: block;
  margin-bottom: 30px;
  font-size: var(--font-medium);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
}

.office_info_address > p {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.office_info_contact {
  width: 277px;
  height: 140px;
  margin-top: 85px;
  text-align: center;
}

.office_info_contact > span {
  display: block;
  margin-bottom: 30px;
  font-size: var(--font-medium);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
}

.office_info_contact > p {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.office_info_open {
  width: 284px;
  height: 134px;
  margin-top: 85px;
  text-align: center;
}

.office_info_open > span {
  display: block;
  margin-bottom: 30px;
  font-size: var(--font-medium);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
}

.office_info_open > p {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.office_info_sns {
  width: 160px;
  height: 28px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.office_info_sns_icon {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.office_info_sns > span {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.office_info_sns_linkedin > a > img {
  width: 28px;
  height: auto;
  margin-right: 15px;
}

.office_info_sns_facebook {
  width: 28px;
  height: auto;
}
