#navbox {
  width: 100%;
  height: 235px;
  background-color: salmon;
  position: relative;
  display: flex;
  justify-content: center;
}

.navbox_wrap {
  width: 1170px;
  height: 30px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.nav_left {
  width: 166px;
  height: 100%;
  display: flex;
}

.nav_icon_location {
  width: 22px;
  height: 30px;
  background-color: lightskyblue;
  margin-right: 16px;
}

.nav_offices {
  width: 129px;
  height: 30px;
  background-color: lightskyblue;
}

.navbox_wrap ul {
  display: flex;
  align-items: center;
}

.navbox_wrap li {
  display: block;
}

.navbox_wrap li:first-child {
  width: 67px;
  margin-right: 70px;
}

.navbox_wrap li:last-child {
  width: 124px;
}

.nav_line {
  width: 1398px;
  height: 2px;
  background-color: lightskyblue;
  position: absolute;
  bottom: 0;
}

/* section */

.section_wrap {
  width: 100%;
  height: 1530px;
  background-color: lightgray;
  padding-top: 170px;
  box-sizing: border-box;
}

.section_title_wrap {
  width: 160px;
  height: 30px;
  margin-left: 210px;
  display: flex;
}

.section_title {
  width: 160px;
  height: 30px;
  background-color: lightskyblue;
}

.section_office_box {
  width: 1478px;
  height: 1141px;
  margin-right: 61px;
  background-color: white;
  position: relative;
  margin-left: 61px;
  display: flex;
}

.office_box_menu_wrap {
  width: 540px;
  height: 60px;
  position: absolute;
  right: 0;
  display: flex;
}

.office_box_menu {
  width: 180px;
  height: 60px;
  background-color: lightskyblue;
}

.office_box_menu:nth-child(2) {
  background-color: lightblue;
}

.office_box {
  width: 591px;
  height: 850px;
  margin: 160px 158px 0 81px;
}

.office_box_city {
  width: 192px;
  height: 32px;
  background-color: lightskyblue;
  margin-left: 200px;
}

.office_box_map {
  width: 591px;
  height: 638px;
  background-color: lightskyblue;
  margin: 48px 0 71px 0;
}

.office_box_btn_wrap {
  width: 542px;
  height: 61px;
  display: flex;
}

.office_box_btn {
  width: 218px;
  height: 61px;
  background-color: lightskyblue;
  display: flex;
  padding: 21px 36px;
  box-sizing: border-box;
}

.office_box_btn:first-child {
  margin-left: 25px;
  margin-right: 100px;
}

.office_box_btn_icon {
  width: 28px;
  height: 20px;
  background-color: white;
  margin-right: 20px;
}

.office_box_btn > span {
  width: 80px;
  height: 20px;
  background-color: white;
}

.office_box_info {
  width: 567px;
  height: 818px;
  background-color: lightskyblue;
  margin-top: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.office_info_adress {
  width: 358px;
  height: 136px;
  background-color: lightblue;
  margin-top: 68px;
  text-align: center;
}

.office_info_adress > span {
  display: block;
  margin-bottom: 30px;
}

.office_info_contact {
  width: 277px;
  height: 140px;
  background-color: lightblue;
  margin-top: 85px;
  text-align: center;
}

.office_info_contact > span {
  display: block;
  margin-bottom: 30px;
}

.office_info_open {
  width: 284px;
  height: 134px;
  background-color: lightblue;
  margin-top: 85px;
  text-align: center;
}

.office_info_open > span {
  display: block;
  margin-bottom: 30px;
}

.office_info_sns {
  width: 180px;
  height: 28px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.office_info_sns_icon {
  width: 65px;
  height: 28px;
  display: flex;
}

.office_info_sns > span {
  width: 88px;
  height: 28px;
  background-color: lightblue;
}

.office_info_sns_linkedin {
  width: 28px;
  height: 28px;
  background-color: lightblue;
  margin-right: 8px;
}

.office_info_sns_facebook {
  width: 28px;
  height: 28px;
  background-color: lightblue;
}
