@import "../base/reset.css";
@import "../style/header.css";
@import "../style/footer.css";
@import "../style/main.css";
@import "../style/aboutEF.css";
@import "../style/program.css";
@import "../style/review.css";
@import "../style/office.css";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  font-family: "NanumSquareR", sans-serif;
  background-color: white;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.hidden {
  display: block;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/* icon */

.icon_yellow_bar {
  width: 7px;
  height: 30px;
  background-color: var(--color-yellow);
  margin-right: 20px;
}

.nav_line {
  width: 1398px;
  height: 2px;
  background-color: var(--color-black);
  position: absolute;
  bottom: 0;
}

.menu_line {
  width: 1190px;
  height: 2px;
  background-color: var(--color-black);
  position: absolute;
  bottom: 0;
  margin-left: 210px;
}

.review_line {
  width: 1180px;
  height: 1px;
  background-color: var(--color-black);
  position: absolute;
  bottom: 0;
  left: 105px;
}

.icon_view_more {
  width: 50px;
  height: 20px;
  color: var(--color-grey);
  text-decoration: underline;
  cursor: pointer;
}

.icon_pre {
  width: 25px;
  height: 28px;
  background-color: grey;
}

.icon_next {
  width: 25px;
  height: 28px;
  background-color: grey;
}

.icon_airplane {
  width: 35px;
  height: 22px;
  background-color: grey;
}

/* global */

:root {
  --color-white: #ffffff;
  --color-dark-white: #d3d3d3;
  --color-lightgrey: #d3d3d3;
  --color-grey: #777777;
  --color-black: #383838;
  --color-yellow: #ffc200;
  --color-lightblue: #17b2e2;
  --color-blue: #1c819e;
  --color-dark-blue: #005874;

  /*font size*/
  --font-text: 36px;
  --font-h1: 32px;
  --font-h2: 30px;
  --font-h3: 24px;
  --font-large: 20px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 12px;

  /* font weight */
  --weight-extrabold: 800;
  --weight-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;
}

/* Typography */

h1 {
  font-size: var(--font-h1);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
}

h2 {
  font-size: var(--font-h2);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
}

h3 {
  font-size: var(--font-h3);
  font-weight: var(--weight-extrabold);
  color: var(--color-black);
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
  line-height: 180%;
}
